<div class="container-fluid">
    <h1 class="text-center">Editando Serviço</h1>
    <div class="container">
        <%= render 'form', service: @service %>

                <%= link_to 'Voltar', services_path %>
    </div>
</div>