<div class="container-fluid">
    <h1 class="text-center">Editando Ordem de Serviço</h1>
    <div class="container">
        <%= render 'form', order_service: @order_service %>

         
                <%= link_to 'Voltar', order_services_path%>
    </div>
</div>