@import "bootstrap";
@import "font-awesome";
$brand-primary: #004583;

.footer{
    margin-top: 2%;
    background-color: $brand-primary;
    color: white;
}
.link-footer{
    color: white;
}
.alerta{

  margin-top: 0.5%;
  padding: 1%;
  
}

